/* Styles */

body {
	padding: 0 5% 10px;
	background: #f7f7f7;
	max-width: 960px;
	margin: 0 auto;
}
a {
	color: #00aadc;
}
small a {
	display: inline-block;
	float: right;
	font-size: 0.8em;
	line-height: 40px;
	text-decoration: none;
	white-space: nowrap;
	margin-bottom: -2px;
	opacity: 0;
	transition: opacity 0.1s ease-in-out;
	-webkit-transition: opacity 0.1s ease-in-out;
}
body {
	font-family: -apple-system, Roboto, "Segoe UI", "Helvetica Neue", Noto, sans-serif;
}
body .opensans {
	font-family: 'Open Sans', sans-serif;
}
p {
	color: #333;
	font-size: 1em;
	line-height: 1.618;
	margin: 0 auto;
}
.display p {
	font-size: 2em;
}
h1,
h2 {
	font-weight: 300;
	margin: 1em 0 1em;
	line-height: 1.2;
}
h2 {
	margin-top: 1.5em;
}
h6 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.7em;
	font-weight: 600;
	color: #aaa;
	display: inline-block;
}
section h6 {
	width: 200px;
	text-align: right;
	margin: 1em 0;
}
section p {
	display: inline;
}
footer h6 {
	margin: 2em 0 4em;
}
footer cite {
	font-style: normal;
}
h6 a {
	text-decoration: none;
}
pre {
	color: #777;
	display: block;
	background: #fff;
	border: 1px solid #ccc;
	margin: 1em 0;
	padding: 10px 16px;
	white-space: pre-wrap;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
}
code,
code span {
	font-family: Menlo, Consolas, "Roboto Mono", monospace;
}
pre .query {
	color: #4ab866;
}
pre code,
pre code span {
	background: none;
}
p.note {
	font-size: 0.9em;
}
p.note code {
	font-size: 0.85em;
	background: rgba(0,0,0,0.05);
	padding: 0 2px;
}
@media screen and (max-width: 600px) {
	h1#top {
		margin-top: 0;
	}
	#updated {
		float: none;
		line-height: 4em;
		font-size: 13px;
	}
	pre code,
	pre code span {
		font-size: 12px;
	}
}
@media screen and (max-width: 400px) {
	body {
		padding: 0 1.5% 10px;
	}
}
.section100 p {
	font-weight: 100;
}
.section200 p {
	font-weight: 200;
}
.section300 p {
	font-weight: 300;
}
.section400 p {
	font-weight: 400;
}
.section500 p {
	font-weight: 500;
}
.section600 p {
	font-weight: 600;
}
.section700 p {
	font-weight: 700;
}
.section800 p {
	font-weight: 800;
}
.section900 p {
	font-weight: 900;
}
